* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background-image: 
    linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.85)),
    url("foto.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    text-align: center;
    max-width: 600px;
    padding: 50px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
}

h1 {
    font-size: 70px;
    letter-spacing: 5px;
    margin-bottom: 30px;
    opacity: 0;
    animation: aparecer 2s forwards;
}

p {
    font-size: 20px;
    line-height: 1.6;
    color: #d0d0d0;
    opacity: 0;
    animation: aparecer 3s forwards;
}

button {
    margin-top: 40px;
    padding: 15px 35px;
    border-radius: 30px;
    border: 1px solid white;
    background: transparent;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    background: white;
    color: black;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.card {
    animation: entrada 2s ease forwards;
    opacity: 0;
    transform: translateY(30px);
}

@keyframes entrada {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
